//
// Carousel
// --------------------------------------------------

/* 
 *  Owl Carousel - Auto Height Plugin
 */
.owl-height {
  @include transition(height 400ms);
}

/* 
 *  Core Owl Carousel Styles
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
  .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    &:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
  }
  .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  .owl-controls {
    text-align: center;
    .owl-nav .owl-prev,
    .owl-nav .owl-next,
    .owl-dot {
      cursor: pointer;
      @include user-select(none);
    }
    .owl-nav {
      .owl-prev, .owl-next {
        position: absolute;
        display: block;
        top: 50%;
        margin-top: -$carousel-navs-size / 2;
        width: $carousel-navs-size;
        height: $carousel-navs-size;
        background-color: transparent;
        border: 2px solid $carousel-navs-color;
        text-align: center;
        font-size: $font-size-lead;
        color: #fff;
        border-radius: 50%;
        @include backface-visibility(hidden);
        @include transition(background-color .3s ease-out);
        &:before { font-family: FontAwesome; }
        &:after {
          position: absolute;
          display: block;
          content: "";
          width: $carousel-navs-size - 8;
          height: $carousel-navs-size - 8;
          border: 1px solid $carousel-navs-color;
          border-radius: 50%;
          top: 2px;
          left: 2px;
        }
        &:hover {
          background-color: $carousel-navs-color;
        }
      }
      .owl-prev { left: 15px; }
      .owl-next {
        right: 15px;
        padding-left: 3px;
      }
      .owl-prev:before,
      .owl-next:before {
        display: block;
        color: $carousel-navs-color;
        line-height: $carousel-navs-size - 4;
        @include transition(color .3s ease-out);
      }
      .owl-prev:before { content: "\f104"; }
      .owl-next:before { content: "\f105"; }
      .owl-prev:hover:before,
      .owl-next:hover:before { color: $brand-primary; }
    }

    .owl-dots {
      position: relative;
      margin-top: floor(($line-height-computed / 2.5));
      z-index: 10;
      .owl-dot {
        display: inline-block;
        width: $carousel-dots-size;
        height: $carousel-dots-size;
        border-radius: 50%;
        background-color: $carousel-dots-color;
        opacity: $carousel-dots-opacity;
        margin: 0 4px 7px 4px;
        @include transition(opacity .25s);
        &.active { opacity: 1; }
      }
    }
  }
  &.owl-loaded { display: block; }
  &.owl-loading {
    opacity: 0;
    display: block;
  }
  &.owl-hidden { opacity: 0; }
  .owl-refresh .owl-item { display: none; }
  .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    @include user-select(none);
    img {
      display: block;
      margin: 0 auto; 
      -webkit-transform-style: preserve-3d;
    }
  }
  &.owl-text-select-on .owl-item {
    @include user-select(auto);
  }
  .owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
  }
  &.owl-rtl {
    direction: rtl;
    .owl-item { float: right; }
  }
}

/* No Js */
.no-js .owl-carousel { display: block; }

/* 
 *  Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  @include transition(opacity 400ms);
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}