a.client {
	height: 120px;
	display: table-cell;
	vertical-align: middle;
	cursor: pointer;

	img {
		width: 90%;
		max-width: 150px;
	}
}

.solution-visual {
	width:95%;
	max-width: 1280px;
	margin: 40px 0px;
}

.bg-black {
	background: black;
}

.bg-pattern {
	background-image: url(../img/home/patterns/p2.png);
	background-repeat: repeat;
}

.text-default {
	text-transform: capitalize;
}

.navbar-light.stuck {
	background: rgba(0,0,0,0.75);
	border: none;
}