//
// Device Slider
// --------------------------------------------------

.device-slider {
  position: relative;
  width: 100%;
  padding-top: floor(($line-height-computed * 5) + $navbar-height);
  padding-bottom: floor($line-height-computed * 2.5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include primary-gradient;

  .container {
    position: relative;
    z-index: 5;
  }
  
  h1 { letter-spacing: .06em; }
  .block-title  { padding-bottom: 25px; }

  // Phone Carousel
  .phone-carousel {
    position: relative;
    z-index: 5;
    width: $phone-width;
    margin: 0 auto -135px auto;
    @include user-select(none);

    .phone-mask {
      position: relative;
      z-index: 1;
      width: 100%;
    }

    .cover {
      display: block;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding: 81px 34px 0 33px;
    }

    .carousel {
      position: absolute;
      z-index: 3;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding: 81px 34px 0 33px;
      @include user-select(none);

      .owl-carousel .owl-controls {
        .owl-dots {
          position: absolute;
          width: 100%;
          text-align: center;
          top: -115px;
          z-index: 10;
          .owl-dot {
            opacity: 1;
            border: 1px solid $ds-bullet-color;
            background-color: transparent;
            @include transition(all .25s);
            &.active { background-color: $ds-bullet-color; }
          }
        }
      }
    }
  }

  @media #{$tablet-land} {
    .container { width: 100%; }
    .phone-carousel { margin-bottom: 0; }
  }
  @media #{$nav-collapse} {
    padding-top: floor(($line-height-computed * 3.5) + $navbar-mobile-height);
  }
  @media #{$tablet-port} {
    padding-bottom: floor($line-height-computed * 5);
    .phone-carousel { margin-bottom: $line-height-computed; }
  }
  @media #{$mobile-land} {
    padding-bottom: floor($line-height-computed * 3);
  }
}