//
// Footer
// --------------------------------------------------

.footer {
  width: 100%;
  background-color: $footer-bg;

  // Footer Logo
  .footer-logo {
    display: inline-block;
    vertical-align: middle;
    width: $logo-width;
    text-decoration: none;
    margin: floor($line-height-computed / 1.8) 20px floor($line-height-computed * 1.5) 0;
  }

  // Social Bar
  .social-bar {
    display: inline-block;
    vertical-align: middle;
    margin: floor($line-height-computed / 2) 0 floor($line-height-computed * 1.5) 0;
    a {
      color: #fff;
      border-color: lighten($footer-bg, 10%);
      &:hover { color: $social-btn-hover-color; }
    }
  }

  // Input
  .form-control { color: #fff; }

  // Market Buttons
  .market-btn {
    text-align: left;
    color: #fff;
    background-color: transparent;
    padding: floor($line-height-computed * 2) 15px floor($line-height-computed * 2) 50px;
    border-left: 1px solid lighten($footer-bg, 9%);
    border-right: 1px solid lighten($footer-bg, 9%);
    border-top: 1px solid lighten($footer-bg, 9%);
    &:last-child {
      border-right: 1px solid lighten($footer-bg, 9%);
    }
    .icon, .label {
      display: inline-block;
      vertical-align: middle;
      width: auto;
    }
    .icon {
      margin-right: 10px;
      margin-bottom: 0;
    }
    .label h3 { color: #fff; }
    &:hover { background-color: $brand-primary; }
    @media #{$mobile-land} {
      text-align: center;
      padding-left: 15px;
      .icon, .label { display: block; }
      .icon {
        margin-right: 0;
        margin-bottom: 8px;
      }
    }
  }

  // Widgets
  .widget {
    margin-bottom: floor($line-height-computed * 1.3);
    .widget-title {
      color: #fff;
      margin-bottom: floor($line-height-computed / 1.5);
    }
    &.widget_pages a {
      color: $gray;
      &:hover { color: $link-hover-color; }
    }
  }

  // Copyright
  .copyright {
    font-size: $font-size-small;
    color: $gray;
    margin-bottom: floor($line-height-computed * 1.5);
    a {
      color: $gray;
      text-decoration: none;
      &:hover { color: $link-hover-color; }
    }
    p { margin-bottom: 0; }
  }
}