//
// Tabs + Filters
// --------------------------------------------------

// Filters
//-----------------------
.nav-filters {
  display: table;
	list-style: none;
	padding: 0;
  margin-bottom: floor($line-height-computed / 2);
  @include clearfix;
	li {
		display: block;
    float: left;
		margin-right: -1px;
		margin-bottom: -1px;
		a {
			display: block;
			font-size: $font-size-xs;
			color: $nav-filters-color;
			text-transform: uppercase;
			text-decoration: none;
			padding: 9px 16px;
			border: 1px solid $nav-filters-border-color;
			background-color: transparent;
      letter-spacing: .15em;
			white-space: nowrap;
			@include transition(color .3s, background-color .3s);
			&:hover {
				color: $nav-filters-hover-color;
				background-color: $nav-filters-bg;
			}
		}
		&.active a {
			color: $nav-filters-hover-color;
			background-color: $nav-filters-bg;
      cursor: default;
		}
	}
}
.text-center .nav-filters {
  margin-left: auto;
  margin-right: auto;
}

// Tabs
//---------------------
.nav-tabs {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  border-bottom: 1px solid $nav-tabs-border-color;
  > li {
    position: relative;
    display: inline-block;
    margin-bottom: -1px;
    > a {
      position: relative;
      z-index: 0;
      display: block;
      color: $nav-tabs-link-color;
      font-size: $nav-tabs-font-size;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
      padding: $nav-link-padding;
      line-height: $line-height-base;
      border: 1px solid transparent;
      @include user-select(none);
      @include transition(all .3s);
      &:hover,
      &:focus {
        text-decoration: none;
        outline: none;
      }
      &:hover {
      	color: $nav-tabs-link-color;
      	background-color: $nav-link-hover-bg;
        border-color:  $nav-tabs-border-color;
      }
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: $nav-tabs-active-link-hover-color;
        background-color: $nav-tabs-active-link-hover-bg;
        border: 1px solid $nav-tabs-link-active-border-color;
        border-bottom-color: transparent;
        cursor: default;
      }
    }
  }
}

// Tabbable tabs
.tab-content {
	padding-top: $line-height-computed;
  > .tab-pane { display: none; }
  > .active { display: block; }
}

// Component Animations
.transition {
  &.fade {
  	opacity: 0;
  	@include transition(all .4s ease-in-out);
    @include backface-visibility(hidden);
    &.in { opacity: 1; }
  }
  &.scale.fade {
  	@include transform(scale(0.9));
  }
  &.scaledown.fade {
  	@include transform(scale(1.1));
  }
  &.scale.fade.in,
  &.scaledown.fade.in {
  	@include transform(scale(1));
  }
  &.left.fade {
  	@include transform(translateX(40px));
  }
  &.right.fade {
  	@include transform(translateX(-40px));
  }
  &.left.fade.in,
  &.right.fade.in {
  	@include transform(translateX(0px));
  }
  &.top.fade {
  	@include transform(translateY(-40px));
  }
  &.bottom.fade {
  	@include transform(translateY(40px));
  }
  &.top.fade.in,
  &.bottom.fade.in {
  	@include transform(translateY(0px));
  }
  &.flip.fade {
  	@include transform(rotateY(-90deg) scale(1.1));
    @include transform-origin(50% 50%);
  }
  &.flip.fade.in {
  	@include transform(rotateY(0deg) scale(1));
    @include transform-origin(50% 50%);
  }
}