//
// Page Title
// --------------------------------------------------

// Base Class
.page-title {
	position: relative;
	padding: floor(($line-height-computed * 4) + $navbar-height) 0 floor(($line-height-computed * 4)) 0;
	margin-bottom: floor($line-height-computed * 2.5);
	background-color: $gray-lighter;
	letter-spacing: .1em;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;

	h1 {
		position: relative;
		z-index: 5;
		font-weight: 900;
		margin-bottom: $line-height-computed * 2;
	}
	@media #{$desktop} {
		padding-top: floor(($line-height-computed * 3.5) + $navbar-height);
		margin-bottom: floor($line-height-computed * 2);
	}
	@media #{$tablet-land} {
		padding-top: floor(($line-height-computed * 3) + $navbar-height);
		h1 {
			margin-bottom: floor($line-height-computed * 1.5);
		}
	}
	@media #{$nav-collapse} {
		padding-top: floor(($line-height-computed * 3) + $navbar-mobile-height);
	}
	@media #{$tablet-port} {
		padding-top: floor(($line-height-computed * 2) + $navbar-height);
		h1 {
			margin-bottom: $line-height-computed;
		}
	}

	// Breadcrumbs
	.breadcrumbs {
		position: relative;
		z-index: 5;
		width: 100%;
		letter-spacing: .05em;
		a, span {
			display: inline-block;
			font-size: $font-size-small;
			color: $link-color;
			text-transform: uppercase;
			text-decoration: none;
			&:after {
				display: inline-block;
				content: $breadcrumb-delimiter;
				margin: 0 10px; 
			}
			&:last-child:after { display: none; }
		}
		span {
			opacity: .45;
			cursor: default;
		}
	}

	// Light Skin
	&.light-skin {
		h1, .breadcrumbs a,
		.breadcrumbs span { color: #fff; }
	}

	// Overlay
	.overlay {
		position: absolute;
		z-index: 2;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: $page-title-overlay-opacity;
		@include primary-gradient;
	}
}