//
// Blog Post Styles
// --------------------------------------------------


// Post Item
.post-item {
  width: 100%;
  margin-bottom: floor($line-height-computed * 2.5);
  @media #{$tablet-port} {
    margin-bottom: floor($line-height-computed * 2);;
  }
  @media #{$mobile-land} {
    margin-bottom: floor($line-height-computed * 1.5);;
  }

  // Post Thumbnail
  .post-thumb {
    display: block;
    margin-bottom: floor($line-height-computed / 1.5);
  }
  
  // Post Meta
  .post-meta {
    margin-bottom: floor($line-height-computed * 1.4);
    span {
      display: inline-block;
      font-size: $font-size-small;
      color: $post-meta-color;
      letter-spacing: 0;
      a { text-decoration: none; }
      &:after {
        display: inline-block;
        content: $post-meta-delimiter;
        margin: 0 7px;
      }
      &:last-child:after { display: none; }
      &.post-date { font-weight: bold; }
      &.post-author { font-style: italic; }
    }
  }

  // Post Title
  .post-title {
    font-size: $post-title-font-size;
    text-transform: uppercase;
    letter-spacing: .12em;
    a {
      display: inline-block;
      color: $headings-color;
      text-decoration: none;
      margin-bottom: floor($line-height-computed / 2);
      &:hover { color: $link-hover-color; }
    }
    &:after {
      display: block;
      content: "";
      width: 30px;
      height: 2px;
      background-color: $brand-primary;
    }
  }

  // Post Tools
  .post-tools {
    .btn { margin: 15px 15px 15px 0; }
    .social-bar { 
      display: inline-block;
      vertical-align: middle;
    }
  }
}

// Single Post
.single-post {
  .post-tools {
    display: table;
    width: 100%;
    padding-bottom: 10px;
    .column {
      display: table-cell;
      vertical-align: middle;
      &:first-child { width: 40%; }
      &:last-child { width: 60%; }
    }
    .post-meta {
      text-align: right;
      span {
        display: inline-block;
        font-size: $font-size-small;
        color: $post-meta-color;
        letter-spacing: 0;
        a { text-decoration: none; }
        &:after {
          display: inline-block;
          content: $post-meta-delimiter;
          margin: 0 7px;
        }
        &:last-child:after { display: none; }
        &.post-date { font-weight: bold; }
        &.post-author { font-style: italic; }
      }
    }
    @media #{$tablet-port} {
      display: block;
      .column {
        display: block;
        width: 100% !important;
        margin-bottom: $line-height-computed;
        &:last-child { margin-bottom: 0; }
      }
      .post-meta { text-align: left; }
    }
  }
}

// Post Pagination
.pagination {
  .nav-links {
    @include clearfix;
    a, span {
      display: block;
      float: left;
      font-size: $font-size-small;
      color: $post-pagination-color;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
      border: 1px solid $post-pagination-border-color;
      padding: 11px 20px 11px 20px;
      word-wrap: no-wrap;
      overflow-wrap: no-wrap;
      margin: 0 0 10px -1px;
      &.current { background-color: $post-pagination-active-bg; }
    }
    span { cursor: default; }
    a {
      @include transition(background-color .3s);
     &:hover { background-color: $post-pagination-hover-bg; }
    }
  }
}