//
// Scaffolding
// --------------------------------------------------


// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing
* {
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}


// Body reset
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


// Links
a {
  color: $link-color;
  text-decoration: underline;
  @include transition(color .3s);

  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}

// Images
// Responsive images (ensure images don't scale beyond their parents)
img {
  vertical-align: middle;
  @include img-responsive;
}

// Rounded corners
.img-rounded {
  border-radius: $border-radius-large;
}

// Perfect circle
.img-circle {
  border-radius: 50%; // set radius in percents
}


// Horizontal rules
hr {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed;
  border: 0;
  border-top: 1px solid $hr-border;
}


// Only display content to screen readers
//
// See: http://a11yproject.com/posts/how-to-hide-content/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

// Use in conjunction with .sr-only to only display content when it's focused.
// Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
// Credit: HTML5 Boilerplate
.sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}

// Text Selection Color
::selection { color: #fff; background: $gray-dark; }
::-moz-selection { color: #fff; background: $gray-dark; }

kbd {
  background-color: $gray-dark;
  border-radius: 0;
}


// Vertical alignment
.va-middle { vertical-align: middle; }
.va-top { vertical-align: top; }
.va-bottom { vertical-align: bottom; }

// Vertical Space classes
.space-top {
  margin-top: $line-height-computed !important;
}
.space-top-2x {
  margin-top: floor($line-height-computed * 2) !important;
}
.space-top-3x {
  margin-top: floor($line-height-computed * 3) !important;
}
.space-bottom {
  margin-bottom: $line-height-computed !important;
}
.space-bottom-2x {
  margin-bottom: floor($line-height-computed * 2) !important;
}
.space-bottom-3x {
  margin-bottom: floor($line-height-computed * 3) !important;
}
.padding-top {
  padding-top: $line-height-computed !important;
}
.padding-top-2x {
  padding-top: floor($line-height-computed * 2) !important;
}
.padding-top-3x {
  padding-top: floor($line-height-computed * 3) !important;
}
.padding-bottom {
  padding-bottom: $line-height-computed !important;
}
.padding-bottom-2x {
  padding-bottom: floor($line-height-computed * 2) !important;
}
.padding-bottom-3x {
  padding-bottom: floor($line-height-computed * 3) !important;
}
@media #{$tablet-port} {
  .space-top {
    margin-top: floor($line-height-computed / 1.5) !important;
  }
  .space-top-2x {
    margin-top: floor($line-height-computed * 1.5) !important;
  }
  .space-top-3x {
    margin-top: floor($line-height-computed * 2) !important;
  }
  .space-bottom {
    margin-bottom: floor($line-height-computed / 1.5) !important;
  }
  .space-bottom-2x {
    margin-bottom: floor($line-height-computed * 1.5) !important;
  }
  .space-bottom-3x {
    margin-bottom: floor($line-height-computed * 2) !important;
  }
  .padding-top {
    padding-top: floor($line-height-computed / 1.5) !important;
  }
  .padding-top-2x {
    padding-top: floor($line-height-computed * 1.5) !important;
  }
  .padding-top-3x {
    padding-top: floor($line-height-computed * 2) !important;
  }
  .padding-bottom {
    padding-bottom: floor($line-height-computed / 1.5) !important;
  }
  .padding-bottom-2x {
    padding-bottom: floor($line-height-computed * 1.5) !important;
  }
  .padding-bottom-3x {
    padding-bottom: floor($line-height-computed * 2) !important;
  }
}
.space-top-none { margin-top: 0 !important; }
.space-bottom-none { margin-bottom: 0 !important; }
.padding-top-none { padding-top: 0 !important; }
.padding-bottom-none { padding-bottom: 0 !important; }

.page-edit .edit-link {
  display: inline-block;
  margin-top: $line-height-computed;
}
.text-center { text-align: center; }
.text-right { text-align: right; }

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.mobile-center {
  @media #{$tablet-port} {
    text-align: center !important;
  }
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}