//
// Tiles (Portfolio / Gallery)
// -----------------------------------------------

.tile {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-decoration: none;
	word-wrap: break-word;
	overflow-wrap: break-word;
	cursor: pointer;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	&:focus { outline: none; }

	.tile-content {
		position: absolute;
		z-index: 2;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		text-align: center;
		//padding: 40px;
		overflow: hidden;
		h3 {
			position: absolute;
			z-index: 2;
			width: 80%;
			color: #fff;
			font-weight: bold;
			top: 50%;
			left: 50%;
			opacity: 0;
			@include transform(translate(-50%, 0));
			@include transition(all .35s .17s);
		}
		&:before {
			position: absolute;
			z-index: 1;
			content: "";
			width: 80%;
			height: 80%;
			top: 50%;
			left: 50%;
			opacity: 0;
			@include primary-gradient;
			@include transform(translate(-50%, -50%));
			@include transition(opacity .4s);
		}
	}

	&:hover {
		.tile-content {
			&:before { opacity: .9; }
			h3 {
				opacity: 1;
				@include transform(translate(-50%, -50%));
			}
		}
	}
	&.gallery-item {
		.tile-content h3 i { font-size: floor($font-size-h3 * 1.5); }
	}
}