.m0  { margin: 0px; }
.m8  { margin: 8px; }
.m16 { margin: 16px; }
.m24 { margin: 24px; }
.m32 { margin: 32px; }
.m40 { margin: 40px; }

.mt0  { margin-top: 0px; }
.mt8  { margin-top: 8px; }
.mt16 { margin-top: 16px; }
.mt24 { margin-top: 24px; }
.mt32 { margin-top: 32px; }
.mt40 { margin-top: 40px; }

.mr0  { margin-right: 0px; }
.mr8  { margin-right: 8px; }
.mr16 { margin-right: 16px; }
.mr24 { margin-right: 24px; }
.mr32 { margin-right: 32px; }
.mr40 { margin-right: 40px; }

.mb0  { margin-bottom: 0px; }
.mb8  { margin-bottom: 8px; }
.mb16 { margin-bottom: 16px; }
.mb24 { margin-bottom: 24px; }
.mb32 { margin-bottom: 32px; }
.mb40 { margin-bottom: 40px; }

.ml0  { margin-left: 0px; }
.ml8  { margin-left: 8px; }
.ml16 { margin-left: 16px; }
.ml24 { margin-left: 24px; }
.ml32 { margin-left: 32px; }
.ml40 { margin-left: 40px; }