//
// Widgets (Sidebar)
// --------------------------------------------------

// Sidebar
.sidebar,
.wpb_widgetised_column {
	width: 100%;
  max-width: $sidebar-max-width !important;
}

// Widget title
.widget-title {
	font-size: $widget-title-font-size;
	color: $widget-title-color;
	font-weight: bold;
	text-transform: none;
	font-style: normal;
	margin-bottom: floor($line-height-computed / 1.1);
}

// Base class
.widget {
	margin-bottom: floor($line-height-computed * 1.8);
	word-wrap: break-word;
	overflow-wrap: break-word;
}

// Archive / Categories / Pages / Comments
.widget_archive,
.widget_categories,
.widget_pages,
.widget_recent_comments {
	ul { list-style: none; }
	> ul {
		font-size: $font-size-base;
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			margin-bottom: floor($line-height-computed / 3);
			a {
				padding: 0;
  			line-height: 1.6;
  			letter-spacing: 0;
  			text-decoration: none;
			}
			&.active a,
			&.current-cat a {
				color: $link-hover-color;
				text-decoration: none;
			}
			&:last-child { margin-bottom: 0; }
		}
	}
}
.widget_recent_comments ul li {
	span { color: $gray; }
}

// Search Widget
.widget_search {
	.search-box {
		position: relative;
		display: block;
		width: 100%;
		.form-control {
			padding-right: 45px;
			margin-bottom: 0;
		}
		.search-btn {
			position: absolute;
			height: $input-height - 3;
			width: 40px;
			top: 0;
			right: 6px;
			background: none;
			border: none;
			color: $gray-dark;
			@include transition(color .3s);
			&:hover { color: $brand-primary; }
			&:focus { outline: none; }
		}
	}
}

// Recent Posts Widget
.widget_recent_posts {
	.post-item {
		display: table;
		width: 100%;
		padding-top: floor($line-height-computed / 2);
		margin-bottom: 0;
		border-bottom: 1px solid $hr-border;
		&:last-child { border-bottom: none; }

		.thumb, .info {
			display: table-cell;
			vertical-align: top;
		}
		.thumb {
			width: $widget-posts-thumb-width;
			a {
				display: block;
				position: relative;
				&:before {
					position: absolute;
					content: "";
					z-index: 2;
					width: 100%;
					height: 100%;
					opacity: $widget-posts-thumb-overlay-opacity;
					top: 0;
					left: 0;
					@include primary-gradient;
				}
			}
			img { width: 100%; }
			@media #{$mobile-port} {
				width: floor($widget-posts-thumb-width * 0.85);
			}
		}
		.info {
			padding-left: 20px;
			h4 {
				font-size: $widget-posts-title-font-size;
				font-weight: bold;
				margin-bottom: 14px;
				a {
					color: $headings-color;
					text-decoration: none;
					&:hover { color:$link-hover-color; }
				}
			}
			.post-meta {
				font-size: $font-size-small;
				color: $link-color;
				line-height: 1.6;
				 a {
					font-size: $font-size-small;
					letter-spacing: 0;
					text-decoration: none;
				}
				.author { font-style: italic; }
			}
		}
	}
}

// Recent Comments Widget
.widget_recent_comments {
	ul li {
		a, span {
			display: inline-block;
			vertical-align: top;
		}
		a { margin-right: 12px; }
	}
}

// Tags Widget
.widget_tags,
.post-tags {
	.tag {
		display: inline-block;
		font-size: $font-size-small;
		color: $widget-tag-color;
		text-decoration: none;
		border: 1px solid $widget-tag-border-color;
		padding: 0 13px 0 19px;
		word-wrap: no-wrap;
		overflow-wrap: no-wrap;
		background-color: transparent;
		margin: 5px 7px 10px 0;
		@include transition(background-color .3s);
		span {
			display: inline-block;
			padding: 8px 0 8px 13px;
			border-left: 1px solid $widget-tag-border-color;
			&:first-child {
				border-left: 0;
				padding-left: 0;
				padding-right: 18px;
			}
		}
		&:last-child { margin-right: 0; }
		&:hover { background-color: $widget-tag-hover-bg; }
	}
}